h1{
    font-size: 40px;
    position: relative;
    left: 4%;
    font-family: "Bahnschrift";
    display: inline-block;
}

h2{
    font-size: 25px;
    position: relative;
    left: 1%;
    font-family: "Bahnschrift";
    display: inline-block;
}

.saludo_bienvenida{
    position: relative;
    left: 44%;
    margin-top: 120px;
}

.bienvenida{
    position:relative;
    top: 60px;
    margin-right: 35px;
    margin-left:0px;
}

.lenguajes{
    position:relative;
    margin-top: 270px;
    margin-left: 25px;
    background-color: transparent;
    background: transparent;
    mix-blend-mode: multiply;
}

.index_p{
    position: relative;
    font-size: 20px;
    font-family: "Bahnschrift";
    margin-left: 15px;
}

table{
    position: relative;
    left: 1%;
    border-collapse: collapse;
    top: 20px;
}

th, td, tr{
    padding: 10px;
    border: 4px solid #000;
    width: 250px;
    text-align: center;
    font-size: 25px;
    font-family: "Bahnschrift";
}

td{
    height: 70px;
    font-size: 17px;
}

.column{
    height: 140px;
}

.caracteristicas{
    width: 300px;
    text-align: justify;
}

