h1{
    font-size: 40px;
    position: relative;
    left: 4%;
    font-family: "Bahnschrift";
    display: inline-block;
}

.saludo_bienvenida{
    margin-left: 530px;
    margin-top: 40px;
}

.bienvenida{
    position:relative;
    top: 60px;
    margin-right: 35px;
    margin-left:0px;
}

.lenguajes{
    position:relative;
    margin-top: 270px;
    margin-left: 25px;
    background-color: transparent;
    background: transparent;
    mix-blend-mode: multiply;
}

.index_p{
    font-size: 20px;
    font-family: "Bahnschrift";
    margin-left: 15px;
}