body{
    margin: auto;
    background: linear-gradient(#aefaff, #c5ffd4);
}

.div_cabecera{
    position: absolute;
    top: 0px;
    height: 80px;
    width: 100%;
    margin-top: 0px;
    background-color: #000;
}

.imagen_logo{
    background-color: transparent;
    position: relative;
    top: 10px;
    left: 3.2%;
    width: 150px;
    border-radius: 33px;
    z-index: 4;
}

.div_cabecera > a{
    text-decoration: none;
}

.boton_inicio{
    position: absolute;
    background-color: transparent;
    color: #fff;
    padding: 6px 40px;
    text-align: center;
    border-radius: 6px;
    top: 20px;
    left: 18.3%;
    font-family: "Bahnschrift";
    font-size: 20px;
}

.boton_inicio:hover{
    transform: scale(1.11);
    background-color: transparent;
    color: #fff;
}

.boton_content{
    position: absolute;
    background-color: transparent;
    color: #fff;
    padding: 6px 35px;
    text-align: center;
    border-radius: 6px;
    top: 20px;
    left: 57.8%;
    font-family: "Bahnschrift";
    font-size: 20px;
}

.boton_content:hover{
    transform: scale(1.11);
    background-color: transparent;
    color: #fff;
}

.boton_programas{
    position: absolute;
    background-color: transparent;
    color: #fff;
    padding: 6px 40px;
    text-align: center;
    border-radius: 6px;
    top: 20px;
    left: 76.1%;
    font-family: "Bahnschrift";
    font-size: 20px;
}

.boton_programas:hover{
    transform: scale(1.11);
    background-color: transparent;
    color: #fff;
}