h1{
    display: block;
    width: 123px;
    position: relative;
    margin: auto;
    margin-top: 40px;
    font-size: 40px;
    font-family: "Bahnschrift";
    font-weight: 900;
}

h2{
    display: block;
    position: relative;
    font-size: 33px;
    margin: 50px 30px 0px 4%;
    font-family: "Bahnschrift";
    
}

h3{
    font-size: 25px;
    position: relative;
    font-family: "Bahnschrift";
    margin: 45px 0px 25px 7%;
}

.Logo_python{
    position: relative;
    width: 90px;
    margin-top: 0px;
    float: right;
    margin-right: 70px;
    margin-left: 25px;
}

.Logo_c_plus_plus{
    position: relative;
    width: 90px;
    margin-top: 100px;
    float: right;
    margin-right: 70px;
    margin-left: 25px;
}

p{
    position:relative;
    margin-left: 4%;
    margin-top: 30px;
    font-family: "Bahnschrift";
    font-size: 20px;
}

.p_next{
    margin-top: 20px;
}

.temas_python{
    font-size: 20px;
    position: relative;
    margin-left: 6%;
    font-family: "Bahnschrift";
}

.temas_python li{
    color:#0066ff;
}

.temas_python li > .links{
    color: black;
    font-weight: 200;
    text-decoration: none;
}

.p_footer{
    font-size: 16px;
}

table{
    position: relative;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    margin-top: 80px;
}

th, td, tr{
    padding: 13px;
    border: 4px solid #000;
    font-family: "Bahnschrift";
}

td{
    height: 50px;
    font-size: 17px;
    text-align: justify;
    width: 300px;
}

th{
    font-size: 25px;
}

.column{
    height: 100px;
}

.p_footer{
    font-family: "Bahnschrift";
}

.img_tabla_python{
    width: 150px;
}

.img_tabla_python > img{
    display: block;
    width: 100px;
    margin: auto;
}