body{
    margin: auto;
    background: linear-gradient(#aefaff, #c5ffd4);
}

header{
    position: relative;
    margin: auto;
    height: 80px;
    width: 100%;
    background-color: #000;
}

ul{
    list-style: none;
}

.menu{
    margin: 0;
    padding: 0;
}

.menu > li > a{
    background-color: transparent;
    display: block;
    color: #fff;
    font-size: 20px;
    font-family: "Bahnschrift";
    text-decoration: none;
    padding: 6px 40px;
    text-align: center;
    border-radius: 6px;
}

.menu > li > a:hover{
    transform: scale(1.11);
    background-color: transparent;
    color: #fff;
}

.menu > li{
    position: relative;
    top: 22px;
    float: left;
}

.imagen_logo{
    position: relative;
    background-color: transparent;
    width: 150px;
    left: 3%;
    border-radius: 33px;
    margin-top: 10px;
}

.boton_inicio{
    left: 12%;
}

.boton_content{
    left: 42%;
}

.boton_programas{
    left: 47%;
}