footer{
    background-color: black;
    height: 150px;
    width: 100%;
    margin-top: 100px;
    clear: both;
}

input{
    position: relative;
    left: 22%;
    top: 30px;
    color: black;
    font-size: 18px;
    font-family: "Bahnschrift";
    width: 200px;
    border-radius: 7px;
    border: 0px;
    padding: 9px;
    margin-left: 15px;
    background-color: #e4fdff;
}

button{
    position: relative;
    background-color: transparent;
    border: 2px solid #fff;
    width: 200px;
    padding: 8px;
    color: white;
    font-size: 18px;
    font-family: "Bahnschrift";
    border-radius: 7px;
    top: 30px;
    left: 23%;
}

button:hover{
    background-color: white;
    color: black;
}

hr{
    border: 1px solid white;
    position: relative;
    top: 40px;
    width: 75%;
}

.p_footer{
    position: relative;
    margin-top: 0;
    top: 50px;
    color: white;
    margin-left: 15px;
}

.Como_arreglo_tropel{
    position: relative;
    top:500px;
}