h1{
    display: block;
    text-align: left;
    position: relative;
    margin-top: 110px;
    margin-left: 23%;
    margin-bottom: 10px;
    font-size: 45px;
    font-family: "Bahnschrift";
    font-weight: 900;
}

h2{
    display: block;
    position: relative;
    font-size: 33px;
    margin: 50px 30px 0px 23%;
    text-align: left;
    font-family: "Bahnschrift";
}

h3{
    font-size: 25px;
    position: relative;
    font-family: "Bahnschrift";
    margin: 45px 0px 25px 23%;
}


.apuntes{
    position: fixed;
    top: 130px;
    padding-right: 0px;
    float: left;
    border-right: 2px solid #000;
}

.titulo_apuntes{
    margin-left: 30px;
    margin-right: 0px;
    margin-top: 10px;
    width: 200px;
    font-size: 25px;
}

.Logo_python{
    position: relative;
    width: 150px;
    float: right;
    margin-top: 10px;
    margin-left: 70px;
    margin-right: 70px;
}

.enfasis{
    display: block;
    font-size: 33px;
    text-align: left;
    position: relative;
    font-weight: 200;
    font-family: "Bahnschrift";
    margin: 0 0 30px 23%;
    width: 345px;
}

.temas_python{
    font-size: 15px;
    position: relative;
    margin-left: 6%;
    font-family: "Bahnschrift";
}

.temas_python > li{
    height: 15px;
    overflow: hidden;
    list-style: armenian;
    color: #000;
    margin: 6px 0 10px 0;
}

.temas_python > li:hover{
    height: auto;
    width: 190px;
}

.sublista{
    color: #000;
    
}



.temas_python li > .links{
    color: #ff8800;
    
}

.img_data{
    display: block;
    width: 400px;
    margin: 30px 40px 10px 4.8%;
}

ul{
    margin-left: 4.8%;
}

ul > li > p{
    margin-left: 6px;
}

ul > li >a{
    text-decoration: none;
}



