h1{
    font-size: 40px;
    position: relative;
    margin-top: 40px;
    margin-left: 4%;
    font-family: "Bahnschrift";
    display: block;
}

h2{
    font-size: 33px;
    position: relative;
    top: 30px;
    margin-left: 4%;
    font-family: "Bahnschrift";
}

ol{
    font-size: 20px;
    position: relative;
    top: 40px;
    margin-left: 4%;
    font-family: "Bahnschrift";
}

ol li{
    color:aqua;
}

ol li > a{
    color: black;
    font-weight: 200;
    text-decoration: none;
}

.rellenador{
    width: 20px;
    height: 20px;
    margin-bottom: 350px;
}